.header {
  position: relative;
  padding: 1.5rem;
}

.header > h1 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.header > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header > ul > li {
  cursor: pointer;
}

.header > ul > li:hover {
  text-decoration: underline;
}